body {
    background-image: url("../images/BobsBG.jpg");
}

.giftest {
    font-size: 100px;
    color: rgb(75, 104, 159);
    text-align: center;
}

/* .gifBG {
    background-color: darkgoldenrod;
    color: black;
    
} */